.container {
  flex: 1;
  position: relative;
  height: fit-content;
  padding: 30px;
  margin-left: 2%;
  margin-bottom: 80px;

  background-color: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(30,30,30,.25);
  -moz-box-shadow: 0px 1px 8px rgba(30,30,30,.25);
  -webkit-box-shadow: 0px 1px 8px rgba(30,30,30,.25);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  font-size: 14px;
  color: #E2352D;
  margin-bottom: 1.5rem;
}

.productsContainer,
.addressContainer {
  position: relative;
  width: 100%;
  max-height: 260px;

  display: flex;
  flex-direction: column;
}

.addressContainer {
  height: fit-content;
  max-height: fit-content;
}
.addressContent {
  display: flex;
  flex-direction: column;
}

.addressType {
  margin-bottom: .5rem;
}

.item {
  width: 100%;
  padding: 20px;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  cursor: pointer;
  transition: all ease-in-out 250ms;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemSelected {
  min-width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 40px;
  border: 1px solid #999999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.itemSelected.isSelected {
  border-color: transparent;
}

.selectedIcon {
  font-size: 25px;
  color: #234125;
  animation: fadeIn 250ms;
}

.itemContent {
  flex: 1;
  display: flex;
  align-items: center;
}

.itemContent .text {
  flex: 1;
  line-height: 20px;
  font-size: 14px;
  font-weight: normal;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}

.text .contentTitle {
  color: #E2352D;
  margin-bottom: 5px;
}

.productsWrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.menuContainer {
  height: 130px;
  padding-top: 2vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.options {
  display: flex;
  flex-direction: column;
}

.row {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.optionButton {
  border: none;
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
}
.optionButton:nth-child(1n+2) {
  margin-top: .4rem;
}

.price {
  font-family: 'Overpass-Black';
  font-size: 18px;
  color: #234125;
}

.priceText {
  font-family: 'Overpass-SemiBold';
  font-size: 14px;
  color: #999999;
}
