.container {
  width: 32.9%;
  height: 45px;
}

.button {
  width: 100%;
  height: 100%;
  padding: 0 1.5vw;
  border: none;
  background-color: #E2352D;
  color: #FFFFFF;
  font-family: 'Overpass-SemiBold';
  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* DESKTOP SCREEN SIZE */

@media only screen and (max-width: 1999px) and (min-width: 1500px) {
  .button {
    font-size: inherit;
  }

  .container {
    height: 55px;
  }

  .btnText {
    position: relative;
    top: 2.5px;
  }
}