.inputBlock {
  position: relative;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
}
.inputBlock.zIndex800 {
  z-index: 800;
}

.inputBlock + .inputBlock {
  margin-top: .5rem;
}

.descriptionContent {
  position: relative;
  flex: 1;
  height: 100%;

  border-radius: 2px 0 0 2px;
  background-color: #161A1D;

  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionPicture {
  max-width: 70%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.inputContent {
  position: relative;
  flex: 5;
  height: 100%;

  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  height: 100%;
  padding: 0 12px;

  border-radius: 2px;
  border: 1px solid #161A1D;
  background-color: #161A1D;
  color: #FFFFFF;
  transition: all 200ms ease-in-out;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.input.pdL {
  padding-left: 40px;
}
.input.pdR {
  padding-right: 40px;
}
.input.pdR2 {
  padding-right: 80px;
}

.input:focus {
  border-color: #22FF7A;
}

.descriptionContent + .inputContent .input {
  border-radius: 0 2px 2px 0;
}

.icon {
  font-size: 14px;
  color: #383B3E;
  position: absolute;
  left: 12px;
  transition: all 200ms ease-in-out;
}
.input:focus + .icon {
  color: #22FF7A;
}

.prefix {
  font-size: 14px;
  color: #383B3E;
  position: absolute;
  transition: all 200ms ease-in-out;
}
.prefix.left {
  left: 12px;
}
.prefix.right {
  right: 12px;
}
.input:focus + .prefix {
  color: #FFFFFF;
}

.eyeContent {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.eyeIcon {
  font-size: 14px;
  color: #22FF7A;
  transition: all 200ms ease;
}
.opacity {
  opacity: .7;
}

.maxLengthContent {
  position: absolute;
  right: 0;
  height: 100%;
  padding: 0 12px;

  color: #FFF7;
  font-size: 12px;

  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (max-width: 700px) {
  .inputBlock {
    height: 40px;
  }

  .input,
  .icon,
  .eyeIcon {
    font-size: 12px;
  }
}
