.form {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.show {
  display: inline;
}
.hide {
  display: none;
}

.formGroup {
  position: relative;
  width: 100%;
}
.formGroup + .formGroup {
  margin-top: 1.5rem;
}

.groupSubtitles,
.miniSubtitles,
.stokSubtitles {
  position: relative;
  width: 100%;
  margin-bottom: .5rem;

  display: flex;
  align-items: center;
}
.miniSubtitles {
  align-items: flex-start;
  margin-bottom: 0;
}

.stokSubtitles {
  position: absolute;
  z-index: 10;
}

.columnMiniSubtitles {
  position: relative;
  width: 100%;
  height: 45px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.subtitle {
  font-size: 18px;
  color: #22FF7A;
}

.stokSubtitles .subtitle {
  color: #FFFFFF;
  font-size: 16px;
}

.subtitleHelp {
  position: relative;
  top: 2px;

  margin-left: 16px;
  font-size: 11px;
  color: #FFF7;
}

.subtitleHelp span {
  display: none;

  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: 200px;
  padding: .5rem;

  animation: fadeIn 200ms;
  z-index: 1050;

  border-radius: 2px;
  background-color: #FFF;
  color: #161A1D;
  box-shadow: 0px 1px 8px rgba(30,30,30,.25);
  -moz-box-shadow: 0px 1px 8px rgba(30,30,30,.25);
  -webkit-box-shadow: 0px 1px 8px rgba(30,30,30,.25);

  font-family: 'Overpass-Regular';
}
.subtitleHelp:hover span {
  display: inline;
}

.subtitleHelp.fitContent span {
  width: 130px;
}

.line {
  margin-left: 16px;

  flex: 1;
  border-top: 1px;
  border-width: 1px;
  border-color: #FFF7;
}

.searchInputGroup {
  position: relative;
  width: 100%;
}

.backgroundToSearch {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: #161A1D99;
  animation: fadeIn 200ms;
  z-index: 700;
}

.row {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.row + .row,
.row.otherCategory {
  margin-top: 1rem;
}

.row.start {
  justify-content: flex-start;
}

.biggestColumn {
  position: relative;
  width: 340px;
  height: 100%;
}
.biggestColumn.center {
  display: flex;
  justify-content: center;
}

.biggerColumn {
  position: relative;
  flex: 2;
  height: 100%;

  display: flex;
}

.bigColumn {
  position: relative;
  flex: 1;
  height: 100%;
}
.bigColumn + .bigColumn,
.bigColumn + .biggerColumn,
.biggerColumn + .biggerColumn,
.biggerColumn + .bigColumn {
  margin-left: .8rem;
}

.column {
  position: relative;
  height: 100%;
  width: 20%;
}
.column.fitContent {
  width: fit-content;
}

.column.biggerMargin {
  margin-top: 45px;
}

.column + .column {
  margin-left: .8rem;
}

.bigColumn + .column {
  margin-left: 1.5rem;
}

.othersCategories {
  position: relative;
  width: 100%;
}

.searchResult {
  position: absolute;
  left: 0;
  top: calc(100% - 2px);
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;

  border-radius: 0 0 2px 2px;
  background-color: #383B3E;
  animation: fadeIn 200ms;
}
.searchResult.zIndex799 {
  z-index: 799;
}

.helpBlock {
  padding-top: 5px;
  color: #FFF;
  font-size: 14px;
  font-family: 'Overpass-Regular';
}
.helpBlock.error {
  padding-top: 0;
  font-size: 12px;
}

.helpBlock.error .help {
  width: fit-content;
  margin-top: 5px;

  border-radius: 2px;
  color: #FFF;

  display: flex;
  align-items: center;
}

.helpBlock.error .help .icon {
  position: relative;
  top: -1px;

  color: #ff4949;
  margin-right: 10px;
}

.inputLabel {
  margin-bottom: .1rem;

  font-size: 14px;
  color: #FFF7;
  font-family: 'Overpass-Regular';
}

.highlightedLabel {
  font-size: 12px;
  color: #22FF7A;
}


.checkboxContainer {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

.checkboxLabel {
  position: relative;
  top: -1px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 22px;
  margin-right: 1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkboxLabel .checkboxCustom {
  height: 20px;
  width: 20px;
  background-color: #161A1D;
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  border: 1px solid #FFF7;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkboxLabel .checkbox:checked ~ .checkboxCustom {
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border-color: #22FF7A;
}

.checkboxLabel .checkboxCustom::after {
  content: "";
  height: 0px;
  width: 0px;
  opacity: 1;
  border: solid #22FF7A;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
}

.checkboxLabel .checkbox:checked ~ .checkboxCustom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  width: 3px;
  height: 9px;
  opacity: 1;
  border: solid #22FF7A;
  border-width: 0 2px 2px 0;
  background-color: transparent;
}

.label {
  position: relative;
  top: 1px;

  color: #FFFFFF;
  font-size: 16px;
  font-family: 'Overpass-Bold';
}


.submitButtonContainer {
  position: relative;
  width: 13%;
  margin-top: 3rem;
}

.tbody .icon {
  font-size: 7px;
  color: #FFF7;
  margin: 0 10px;
}

.freightImage {
  position: absolute;
  top: -30px;
  width: 100px;
  /* filter: drop-shadow(1px 1px 1px #22FF7A77); */
}
.freightHeight,
.freightWidth,
.freightLength {
  position: absolute;
  color: #FFF;
  font-size: 12px;
  letter-spacing: 1px;

  transition: all 200ms ease;
}

.freightHeight {
  left: 93px;
  top: 35px;
  transform: rotate(270deg);
}
.freightWidth {
  left: 128px;
  top: 80px;
}
.freightLength {
  left: 185px;
  top: 50px;
  transform: rotate(313deg);
}

.freightHeight.active,
.freightWidth.active,
.freightLength.active {
  color: #22FF7A;
  font-family: 'Overpass-Bold';
}

.wrap {
	perspective: 800px;
  perspective-origin: 50% 100px;
}

.cube {
	position: relative;
  width: 200px;
  margin: 0 auto;
  transform-style: preserve-3d;

  transform: rotateX(-30deg) rotateY(-30deg);
	/* animation: spin 30s infinite linear; */
}

.cube div {
	position: absolute;
	width: 200px;
  height: 200px;

  background-color: #222527;
  border: 1px solid #22FF7A;
}

.back {
	transform: translateZ(-100px) rotateY(180deg);
}
.right {
	transform: rotateY(-270deg) translateX(100px);
	transform-origin: top right;
}
.left {
	transform: rotateY(270deg) translateX(-100px);
	transform-origin: center left;
}
.top {
	transform: rotateX(-90deg) translateY(-100px);
	transform-origin: top center;
}
.bottom {
	transform: rotateX(90deg) translateY(100px);
	transform-origin: bottom center;
}
.front {
	transform: translateZ(100px);
}


.photoButton {
  position: relative;
  width: 100%;
  height: 50px;

  border: none;
  border-radius: 2px;
  background-color: #161A1D;
  color: #FFF;
  overflow: hidden;
  cursor: pointer;

  display: flex;
  align-items: center;
}

.photoButton .prefix {
  position: relative;
  width: 18%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.photoButton .prefix .icon {
  font-size: 18px;
  color: #383B3E;
  transition: all ease 200ms;
}
.photoButton:hover .prefix .icon {
  color: #22FF7A;
}

.photoButton .prefix .photo {
  height: 90%;
  width: 90%;
  object-fit: cover;
  object-position: center;

  border-radius: 2px 0 0 2px;
}

.photoButton .content {
  flex: 1;
  height: 100%;
  padding: 10px;

  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.photoButton .content:hover {
  overflow: auto;
}

.removePhotoButton {
  position: absolute;
  left: 0;
  top: 100%;
  padding: 3px 0;

  color: #FFF;
  font-size: 12px;
  cursor: pointer;
  transition: all ease 200ms;

  display: flex;
}
.removePhotoButton:hover {
  color: #22FF7A;
}

.removePhotoButton .icon {
  position: relative;
  top: 1px;

  font-size: 10px;
  margin-right: 6px;
}


.radioContainer {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 300px;
}
.radioContainer input[type=radio] {
  display: none;
}

.radioLabel {
  display: block;
}
.radioLabel:nth-child(1n+2) {
  margin-top: .3rem;
}

.radioLabel span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;

  vertical-align: middle;
  background: url("../../public/images/icons/unchecked-input-radio.svg") no-repeat;

  cursor: pointer;
}

.radioContainer input[type=radio]:checked + .radioLabel span {
  background: url("../../public/images/icons/checked-input-radio.svg") no-repeat;
}



@keyframes fadeIn {
  0% {opacity: .2;}
}

@keyframes spin {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}
