.content {
  position: relative;
  flex: 1;
  min-width: 250px;
  height: 100%;
  padding: 15px;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
}
.content:nth-child(1n+2) {
  margin-left: 5%;
}

.brandLogo {
  max-width: 75%;
}

.heartIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.heartIcon img {
  width: 100%;
}
