.button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.button + .button {
  margin-left: 1.2rem;
}

.button.notALink {
  padding: 8px 18px;

  border-radius: 2px;
  background-color: #383B3E;
  color: #FFFFFF;
  transition: all ease 200ms;

  display: flex;
  align-items: center;
}
.button.darkest {
  background-color: #222527;
}

.button a {
  padding: 8px 18px;

  border-radius: 2px;
  background-color: #383B3E;
  color: #FFFFFF;
  transition: all ease 200ms;

  display: flex;
  align-items: center;
}
.button .icon {
  font-size: 10px;
  margin-right: 8px;
}

.button a:hover,
.button.notALink:hover {
  opacity: 1;
  background-color: #22FF7A;
  color: #161A1D;
}
