.table {
  position: relative;
  width: 100%;
  border-spacing: 0;
}

.table tr {
  position: relative;
  width: 100%;
  height: 40px;
  text-align: left;
}

.table.fitContent tr {
  height: fit-content;
}

.table:not(.withoutBack) tr:nth-child(2n+1) th {
  background-color: #D7D7D7;
}
.table:not(.withoutBack) tr:nth-child(2n+2) th {
  background-color: #E7E7E7;
}

.table:not(.withoutBack) tr:nth-child(2n+1) td {
  background-color: #E7E7E7;
}
.table:not(.withoutBack) tr:nth-child(2n+2) td {
  background-color: #F7F7F7;
}

.table th {
  width: 25%;
  padding: 1rem 1.6rem;
}
.table.fitContent th {
  vertical-align: top;

  width: 12%;
  padding: .4rem 0;
  padding-right: 1.6rem;
}
.table.withoutBack th {
  color: #22FF7A;
}

.table th span {
  font-weight: normal;
}

.table td {
  padding: 1rem 1.6rem;
  font-family: 'Overpass-Regular';

  display: flex;
  align-items: center;
}
.table.fitContent td {
  padding: .4rem 0;
  padding-right: 1.6rem;

  display: flex;
  flex-wrap: wrap;
}
.table.withoutBack td {
  color: #FFFFFF;
}

.table td div {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;

}
.table td div + div {
  margin-top: .3rem;
}
