.content {
  flex: 1;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  padding: 15px;
  background: linear-gradient(92.68deg, #333333 17.69%, #2F2E41 86.67%);
  color: #FFFFFF;
  border-radius: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-right: 11px;
}
.content:last-child {
  margin-right: 0;
}

.select {
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid #999999;

  display: flex;
  justify-content: center;
  align-items: center;
}
.select {
  border-color: transparent;
}

.select .icon {
  color: #3C9A45;
}

.info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 14px;
}

.flag {
  max-width: 35px;
}
