.content {
  position: relative;
  width: 250px;
  height: 250px;
  padding: 15px;
  margin-bottom: 2rem;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.asList {
  width: 99%;
  height: 100px;
  padding: 10px;
  margin-bottom: .7rem;

  flex-direction: row;
}
.asList:last-child {
  margin-bottom: .2rem;
}

.sex {
  position: absolute;
  top: 15px;
  left: 15px;
  color: #DDDDDD;
}

.heartIcon {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.hide {
  display: none;
}

.productImage {
  max-width: 65%;
}

.asListImage {
  height: 100%;
  width: auto;
}

.productInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.asListInfo {
  padding-left: 20px;
}

.category {
  color: #E2352D;
  font-size: 10px;
}

.name {
  font-size: 14px;
  font-family: 'Overpass-Regular';
  font-weight: normal;
  text-transform: uppercase;
}

.asListName {
  order: -1;
}

.row {
  position: relative;
  width: 100%;
  margin-top: .8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-family: 'Overpass-Black';
  font-size: inherit;
  color: #234125;
}

.oldPrice {
  margin-left: .3rem;
  font-family: 'Overpass-BoldItalic';
  font-size: 12px;
  text-decoration: line-through;
  color: #333333;
}

.purchaseButton {
  width: 85px;
  height: 24px;
  border: none;
  background-color: #E2352D;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 40px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.asListButton {
  display: none;
}
