.container {
  width: 76%;
  height: 45px;
  margin: 0 auto;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list {
  width: 100%;
  font-size: 14px;
  font-family: 'Overpass-Regular';

  display: flex;
}

.item {
  width: fit-content;
  margin-right: 10px;

  display: flex;
  align-items: center;
}

.icon {
  position: relative;
  top: -1px;
  margin-left: 10px;
  font-size: 8px;
  color: #999999;
}
