.wrapper {
  display: grid;
}

.wrapper {
  grid-template-columns: [first] 12% repeat(12, minmax(auto, 1fr)) 12% [end];
  column-gap: 15px;
  grid-template-rows: auto auto auto auto 550px;
  grid-template-areas:
    "topheader topheader topheader topheader topheader topheader topheader topheader topheader topheader topheader topheader topheader topheader"
    "header header header header header header header header header header header header header header"
    "carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel carousel"
    "main main main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer footer footer"
  ;
}

.topHeader {
  grid-area: topheader;
  background-color: #EEEEEE;
}

.header {
  grid-area: header;
}

.promotionalCarousel {
  grid-area: carousel;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
