.container {
  margin: 20px 0;
  animation: fadeIn 300ms;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column + .column {
  margin-top: 10px;
}

.wideColumn {
  width: 100%;
}



.w20Column {
  width: 20%;
}

.w40Column {
  width: 38%;
}

.w55Column {
  width: 55%;
}

.w60Column {
  width: 60%;
}



@keyframes fadeIn {
  0% {opacity: .2;}
}
