.container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 6vh 12%;
  background-color: #EEEEEE;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* DESKTOP SCREEN SIZE */

@media only screen and (max-width: 1999px) and (min-width: 1500px) {

}
