.container {
  position: relative;
  width: 100%;
  height: fit-content;
  padding: 6vh 8%;
  background-color: #FFFFFF;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
