.container {
  width: 100%;
  padding: 1vh 12%;
  background-color: #EEEEEE;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.content {
  display: flex;
}

.infoItem {
  margin-right: 2rem;
  font-size: 14px;
}

.infoText {
  font-family: 'Overpass-SemiBold';
}

.icon {
  margin-right: .7rem;
  font-size: 10px;
  color: #E2352D;
}

.icon2x {
  font-size: 12px;
}

.socialMediaItem {
  margin-left: .5rem;
}

.mediaIcon {
  position: relative;
  top: .15rem;
  font-size: 14px;
  margin-left: .4rem;
}


/* DESKTOP SCREEN SIZE */

@media only screen and (max-width: 1999px) and (min-width: 1500px) {
  .infoItem {
    font-size: inherit;
  }

  .icon {
    font-size: 16px;
  }
  
  .icon2x {
    font-size: 18px;
  }

  .mediaIcon {
    font-size: 18px;
    margin-left: .6rem;
  }
}
