.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #3334;
  animation: fadeIn 200ms;
  z-index: 800;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 36vw;
  padding: 30px;
  background-color: #FFFFFF;
}

@keyframes fadeIn {
  0% {opacity: .2;}
}
