.container {
  position: fixed;
  bottom: 4%;
  left: 2%;
}

.link {
  display: flex;
  align-items: center;
}

.background {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #4FC454;
  transition: all ease-in-out 200ms;
  box-shadow: 0px 1px 8px rgba(0,0,0.25);
  -moz-box-shadow: 0px 1px 8px rgba(0,0,0.25);
  -o-box-shadow: 0px 1px 8px rgba(0,0,0.25);
  -ms-box-shadow: 0px 1px 8px rgba(0,0,0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  color: #FFFFFF;
  font-size: 24px;
}

.popUp {
  display: none;
  position: absolute;
  left: calc(100% + 20px);
  width: 250px;
  height: 35px;
  background-color: #e7e7e7;
  color: #333333;
  font-size: 14px;
  animation: popUpFadeIn 200ms;

  justify-content: center;
  align-items: center;
}

.popUp::before {
  content: '';
  position: absolute;
  right: 100%;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #e7e7e7;
}

.link:hover .background {
  transform: scale(1.05);
}

.link:hover .popUp {
  display: flex;
}

@keyframes popUpFadeIn {
  0% {opacity: 0.2;}
  100% {opacity: 1;}
}
