.container {
  position: relative;
  margin: 2rem auto;
  background-color: #FFFFFF;
  /* border: 1px solid #EEEEEE; */

  display: flex;
  flex-direction: column;
}

.title {
  position: relative;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 5vh;
  font-family: 'Overpass-Bold';
  font-size: 22px;
  color: #E2352D;
}

.title::after {
  content: "";
  position: relative;
  display: block;
  width: 40px;
  margin: 0 auto;
  border-bottom: 1px solid #EEEEEE;
}

.paragraph {
  width: 80%;
  margin: 0 auto;
  line-height: 30px;
  font-family: 'Overpass-Regular';
}
.paragraph:nth-child(1n+2) {
  margin-top: 1.3rem;
}

.button {
  position: relative;
  width: 25%;
  height: 34px;
  border: none;
  background-color: #E2352D;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
  margin-top: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.button a {
  width: 100%;
  height: 100%;
  color: #FFFFFF;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
  font-size: 70px;
  color: #E2352D;
  -webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.5));
  animation: icon 3s infinite;
  transition: transform 1.5s;
}

.iconContainer {
  position: relative;
}

.iconContainer::after {
  content: "";
  position: absolute;
  top: 115%;
  left: 50%;
  width: 50px;
  transform: translateX(-50%) perspective(60px) rotateX(60deg) scale(0.45);
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
  animation: afterElement 3s infinite;

  transition: transform 1.5s;
}

@keyframes icon {
  50% {
    transform: translate(0, -20px);
  }
}

@keyframes afterElement {
  50% {
    transform: translate(-50%) perspective(60px) rotateX(60deg) scale(1);
  }
}
