.row {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.flexColumn {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexColumn.clockAndGraphics {
  width: 72%;
  height: 480px;
  padding-right: 2rem;

  border-right: 1px solid #383B3E;
}
.flexColumn.statitics {
  width: 28%;
  height: 480px;
  padding-left: 2rem;
}
.flexColumn.normalColumn {
  width: 48%;
}
.flexColumn.brief {
  width: 65%;
}
.flexColumn.rating {
  width: 31%;
}
