.row {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.row.start {
  justify-content: flex-start;
}

.row + .row {
  margin-top: 1.2rem;
}

.flexColumn {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexColumn.clockAndGraphics {
  width: 72%;
  height: 480px;
  padding-right: 2rem;

  border-right: 1px solid #383B3E;
}
.flexColumn.statitics {
  width: 28%;
  height: 480px;
  padding-left: 2rem;
}
.flexColumn.normalColumn {
  width: 48%;
}
.flexColumn.brief {
  width: 65%;
}
.flexColumn.rating {
  width: 31%;
}

.button {
  border: none;
  background-color: transparent;
}
.button + .button {
  margin-left: 1.2rem;
}

.button a {
  padding: 8px 18px;

  border-radius: 2px;
  background-color: #383B3E;
  color: #FFFFFF;
  transition: all ease 200ms;

  display: flex;
  align-items: center;
}
.button a .icon {
  font-size: 10px;
  margin-right: 8px;
}

.button a:hover {
  opacity: 1;
  background-color: #22FF7A;
  color: #161A1D;
}

.transparentButton {
  padding: 5px;

  border: none;
  background-color: transparent;
  color: #22FF7A;

  font-size: 14px;
  cursor: pointer;

  display: flex;
  align-items: center;
}
.transparentButton .icon {
  font-size: 8px;
  margin-left: 8px;
  animation: slideDown 2000ms infinite;
}

.wrapper {
  position: relative;
  width: 100%;
}
.wrapper.active {
  margin-top: 1.2rem;
}

.loadingIcon {
  color: #22FF7A;
  font-size: 20px;
}

@keyframes slideDown {
  50% {transform: translateY(2px);}
}
