.row {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row.start {
  justify-content: flex-start;
}
.row.end {
  justify-content: flex-end;
}

.row + .row {
  margin-top: 1.2rem;
}

.flexColumn {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flexColumn.wideColumn {
  width: 100%;
}
.flexColumn.clockAndGraphics {
  width: 72%;
  height: 480px;
  padding-right: 2rem;

  border-right: 1px solid #383B3E;
}
.flexColumn.statitics {
  width: 28%;
  height: 480px;
  padding-left: 2rem;
}
.flexColumn.normalColumn {
  width: 48%;
}
.flexColumn.brief {
  width: 65%;
}
.flexColumn.rating {
  width: 31%;
}

.wrapper {
  position: relative;
  width: 100%;
}
.wrapper.active {
  margin-top: 1.2rem;
}

.loadingIcon {
  color: #22FF7A;
  font-size: 20px;
}
