:root {
  --mobile-default-font-size: 12px;
  --notebook-default-font-size: 16px;
  --desktop-default-font-size: 18px;
}

@font-face {
  src: url('../public/fonts/Overpass-Thin.ttf');
  font-family: 'Overpass-Thin';
}
@font-face {
  src: url('../public/fonts/Overpass-Light.ttf');
  font-family: 'Overpass-Light';
}
@font-face {
  src: url('../public/fonts/Overpass-Regular.ttf');
  font-family: 'Overpass-Regular';
}
@font-face {
  src: url('../public/fonts/Overpass-SemiBold.ttf');
  font-family: 'Overpass-SemiBold';
}
@font-face {
  src: url('../public/fonts/Overpass-Bold.ttf');
  font-family: 'Overpass-Bold';
}
@font-face {
  src: url('../public/fonts/Overpass-ExtraBold.ttf');
  font-family: 'Overpass-ExtraBold';
}
@font-face {
  src: url('../public/fonts/Overpass-Black.ttf');
  font-family: 'Overpass-Black';
}
@font-face {
  src: url('../public/fonts/Overpass-BoldItalic.ttf');
  font-family: 'Overpass-BoldItalic';
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;

  scrollbar-width: thin;
  scrollbar-color: #22FF7AAA transparent;
}

* ::-webkit-scrollbar {
  width: 7px;
}
* ::-webkit-scrollbar-track {
  background: transparent;
}
* ::-webkit-scrollbar-thumb {
  background-color: #22FF7AAA;
  border-radius: 30px;
}


* ::selection {
  background: #22FF7AAA;
  color: #FFF;
}
* ::-moz-selection {
  background: #22FF7AAA;
  color: #FFF;
}


html,
body {
  font-size: var(--notebook-default-font-size);
  font-family: 'Overpass-SemiBold', serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #161A1D;

  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #161A1D;
  width: fit-content;
}

ul {
  list-style: none;
}

input,
button,
select,
textarea {
  font-family: 'Overpass-SemiBold';
}

::placeholder {
  color: #999999;
}

button,
input[type=image],
a {
  transition: opacity ease-in-out 150ms,
    color ease-in-out 150ms,
    background-color ease-in-out 150ms;
}
button:hover,
input[type=image]:hover,
button:active,
input[type=image]:active,
a:hover {
  opacity: .89;
}
button:active,
input[type=image]:active {
  transform: scale(0.98);
}

button:disabled,
button:disabled:hover {
  position: relative;
  cursor: not-allowed;
  opacity: 1;
  background-color: #c92f27;
  color: #fff9;
}


.messagesContainer {
  position: fixed;
  bottom: 4%;
  right: 0;
  width: 310px;
  height: 80vh;
  padding-right: 20px;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}


/* DESKTOP SCREEN SIZE */

@media only screen and (max-width: 1999px) and (min-width: 1500px) {
  html,
  body {
    font-size: var(--desktop-default-font-size);
  }
}


/* IPAD AND TABLETS SCREEN SIZE */
/* MID AND BIG SMARTPHONES SCREEN SIZE */
/* SMALL SMARTPHONES (IPHONE 5) SCREEN SIZE */

@media only screen and (max-width: 900px) {
  html,
  body {
    font-size: var(--mobile-default-font-size);
  }
}

@keyframes fadeIn {
  0% {opacity: .2;}
}
