.section {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.section + .section {
  margin-top: 2rem;
}

.sectionTitle {
  margin-top: 1rem;
  margin-bottom: .5rem;

  color: #22FF7A;
  font-size: 24px;
}
