.section {
  position: relative;
  width: 95%;
  margin: 0 auto;
}
.section + .section {
  margin-top: 2rem;
}

.sectionFlex {
  display: flex;
  justify-content: space-between;
}

.titleSection {
  font-size: 18px;
  color: #E2352D;
  margin-bottom: 5vh;
}

.mgB2 {
  margin-bottom: 2vh;
}

.brandList {
  position: relative;
  width: 100%;
}

.productList {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
