.contentSection {
  position: relative;
  width: 76%;
  margin: 0 auto;
  padding: 5vh 0;
}

.titleSection {
  font-size: 18px;
  color: #E2352D;
  margin-bottom: 5vh;
}

.brandList {
  position: relative;
  width: 100%;
  height: 250px;
}

.productList {
  position: relative;
  width: 100%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.signContainer {
  width: 76%;
  margin: 0 auto;
  margin-top: -90px;

  display: flex;
  justify-content: center;
}

.divisionOr {
  position: relative;
  width: 100%;
  height: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lineThrough {
  position: absolute;
  width: 100%;
  border-top: 1px solid #EEEEEE;
  border-bottom: 0;
  border-left: 0;
  z-index: 1;
}

.text {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  font-size: 14px;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
}
