.mainContainer {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 5vh 0;

  display: flex;
  justify-content: space-between;
}

.columnFlex {
  flex-direction: column;
  padding: 0;
}

.picturesContainer {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.list {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.item {
  position: relative;
  min-width: 80px;
  max-width: 80px;
  height: 80px;
  padding: 5px;
  border: 1px solid #EEEEEE;
  cursor: pointer;

  display: flex;
  justify-content: center;
}
.item:nth-child(1n+2) {
  margin-top: 15px;
}

.active {
  /* transition: all ease-in-out 250ms; */
  border-color: #E2352D;
}

.item img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.imageWrap {
  position: relative;
  flex-grow: 1;
  height: 400px;
  margin-left: 25px;
  border: 1px solid #EEEEEE;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  position: relative;
  min-width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  height: 100%;
  padding: 3%;
}
.image img:hover {
  cursor: zoom-in;
}

.infoContainer {
  position: relative;
  width: 40%;

  display: flex;
  flex-direction: column;
}

.zoomContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  z-index: 800;
}
.zoomShow {
  display: block;
}
.zoomHide {
  display: none;
}

.zoomViewer {
  width: 100%;
  height: 100%;
  background-size: 200%;
  background-position: center;
  background-repeat: no-repeat;
}

.actionsContent {
  position: relative;
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.actionItem {
  position: relative;
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.actionItem:nth-child(1n+2) {
  margin-left: 15px;
}

.heartIcon input {
  width: 100%;
}

.hideShare {
  display: none;
}

.showShare {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: calc(100% + 20px);
  padding-right: 20px;
  background-color: #FFF;
  animation: fadeIn 200ms;

  display: flex;
}

.separatorIcon {
  width: 13px;
  height: 18px;
  font-size: 8px;
  color: #999999;

  display: flex;
  justify-content: center;
  align-items: center;
}

.shareItem {
  position: relative;
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.shareItem:nth-child(1n+2) {
  margin-left: 15px;
}


.nameDisplay {
  margin-top: .7rem;
}
.categories {
  width: 100%;
  color: #E2352D;
  font-size: 14px;
  margin-bottom: .7rem;

  display: flex;
  flex-wrap: wrap;
}
.category {
  width: fit-content;
  display: flex;
}
.separation {
  margin: 0 .5rem;
}

.name {
  font-size: 20px;
  text-transform: uppercase;
}

.price {
  margin-top: 1.8rem;
}

.storePrice {
  font-family: 'Overpass-BoldItalic';
}
.lineThrough {
  text-decoration: line-through;
}

.virtualPrice {
  margin-top: .3rem;
  display: flex;
  align-items: center;
}
.currentPrice {
  font-family: 'Overpass-Black';
  font-size: 24px;
  color: #234125;
}
.oldPrice {
  margin-left: .3rem;
  font-family: 'Overpass-BoldItalic';
  text-decoration: line-through;
}

.cartActions {
  border-top: 1px solid #EEEEEE;
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 14px;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
}

.subtotal {
  margin-left: 1.3rem;
  color: #999999;
}

.button {
  width: 100%;
  height: 45px;
  margin-top: 1rem;
  border: none;
  background-color: #E2352D;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}



.principalFeaturesContainer {
  width: 100%;
}



.content {
  width: 100%;
}

.description {
  font-family: 'Overpass-Regular';
  line-height: 26px;
}

.replies {
  margin-top: 1rem;
}

.replyItem {
  margin: 1.6rem 0;
  font-family: 'Overpass-Regular';
}
.replyItem h4 {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: .3rem;
}
.replyItem h5 {
  position: relative;
  padding-left: 30px;
  font-size: 14px;
  font-weight: normal;
  color: #999999;
}
.replyItem h5::before {
  content: '';
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  border-left: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

.subtitle {
  font-size: 16px;
  margin: 1rem 0;
  margin-top: 1.5rem;
}



.form {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fieldGroup {
  flex-grow: 1;
  margin-right: 2rem;
}

.input {
  width: 100%;
  height: 45px;
  padding: 0 1.5vw;
  border: 1px solid #EEEEEE;
  background-color: #FFFFFF;
  color: #333333;
  transition: all 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);

  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttonContainer {
  width: 14%;
  height: 45px;
}






.specialSection {
  width: 100%;
  padding: 5vh 5%;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
}

.specialArticle {
  width: 100%;
}

.specialSubtitle {
  font-size: 20px;
  margin: 1rem 0;
  margin-top: 2rem;
}

.paragraph {
  font-family: 'Overpass-Regular';
  font-size: 16px;
  line-height: 26px;
  color: #777777;
}

.highlightImage {
  float: right;
  width: 35%;
  margin-left: 1rem;
}

.iframe {
  width: 40%;
  height: 300px;
  margin: 2rem 0;
  border: none;
}

.specialList {
  margin-left: 1rem;
  list-style: outside;
  color: #777777;
}




@keyframes fadeIn {
  0% {opacity: 0.2;}
}
