.__se__format__range_custom {
  border: 5px solid #f4b124;
  background-color: #f4b12433;
  padding: 1rem !important;
  margin: 0 0 10px !important;
}

.se-custom-tag {
  background-color: #f4b124;
  color: #fff;
}
